# Dependencies
node_modules/
.pnp
.pnp.js

# Build and Production
dist/
dist-ssr/
build/
coverage/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment files
.env
.env.*
!.env.example

# OS & Editor files
.DS_Store
Thumbs.db
*.pem
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Office temporary files
~$*.docx
~$*.xlsx
~$*.pptx
*.tmp

